---
import '../styles/global.css';
---

<div>
  <img src="https://japi.rest/discord/v1/user/776176694209413170/avatar" alt="" class="rounded-full">
  <div>
    <h3>Nigga Raid</h3>
    
  </div>
</div>
