---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="profile">
  <div class="" id="user-data"></div>
</Layout>

<script>
  const userData = document.getElementById('user-data')!;
  const response = await fetch('http://localhost:3000/login/discord/profile', {
    credentials: 'include',
  });
  const data = await response.json();
  console.log(data);
  userData.textContent = JSON.stringify(data.user);
</script>
