---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="profile">
  <div class="text-lg" id="user-data"></div>
</Layout>

<script>
  import { API_BASE } from '@/consts';

  const userData = document.getElementById('user-data')!;
  const response = await fetch(`${API_BASE}/login/discord/profile`, {
    credentials: 'include',
  });
  if (!response.ok) window.location.href = '/';
  const data = await response.json();
  userData.textContent = JSON.stringify(data.user);
</script>
